.container{
    margin-top: 10%;
}

.bd-left{
    border-left: 3px #343A40 solid;
}

#arrow{
position: absolute;
width: 0; 
height: 0; 
border-top: 13px solid transparent;
border-bottom: 13px solid transparent;
border-left: 13px solid #343A40;
top: 158px; 
}